@use "./SymptomsForm";
@use "./Symptoms";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #ff0000;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.main {
  min-height: calc(100vh - 80px);
  font-family: var(--font-roboto), sans-serif;
  width: 60%;
  background-color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__title {
    margin: 0;
    font-size: 30px;
    text-align: center;
  }

  &__sub-title {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }

  @media (max-width: 768px) {
    width: 80%;
  }
}
